@import "typography";

html, body {
	display:block;
	margin:0px;
	padding:0px;
}

#main-content {
	padding:2rem;
}

header#page-header {
	color:$secondary-color;
	background:$primary-color;
	padding:5px;
	border-bottom:5px solid darken($primary-color, 25%);
	h1 {
		text-align:center;
		text-transform:uppercase;
	}
}

aside#page-sidebar {
	float:right; 
	background:$secondary-color; 
	width:200px;
}

footer#page-footer {
	text-align:center; 
	padding:5px; 
	color:$primary-color; 
	background:$secondary-color;
	border-top:5px solid darken($secondary-color, 25%);
}